body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #292929;
}

p {
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 4em;
    letter-spacing: 4px;
    overflow: hidden;
    /* background: linear-gradient(90deg, #000, #fff, #000); */
    background: linear-gradient(90deg, #673ab7, #ffc107, #e91e63);
    background-repeat: no-repeat;
    background-size: 80%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0% {
        background-position: -500%;
    }

    100% {
        background-position: 500%;
    }
}